body {
    margin: 0;
    padding: 0;
    background-image: url('img/v2.gif'); 
    background-size: cover;
    background-position: center;
}

.retro-container {
    background-color: rgba(0, 0, 0, 0.877); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.retro-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.retro-button {
    display: inline-block;
    padding: 20px 40px;
    width: 200px; 
    margin: 15px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: borderAnimation 5s infinite alternate; 
}

@keyframes borderAnimation {
    0% {
        border-color: #5c9625; 
    }
    50% {
        border-color: #259625; 
    }
    100% {
        border-color: #259650;
    }
}