body {
    margin: 0;
    padding: 0;
    background-image: url('img/v2.gif'); 
    background-size: cover;
    background-position: center;
}

.retro-container {
    background-color: rgba(0, 0, 0, 0.877); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.retro-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vw; /* Tamaño de fuente relativo al ancho del viewport */
    color: #fff;
    margin-bottom: 5vh; /* Margen inferior relativo al alto del viewport */
}

.retro-button {
    display: inline-block;
    padding: 5vw 10vw; /* Padding relativo al ancho del viewport */
    width: 60vw; /* Ancho relativo al ancho del viewport */
    margin: 3vh;
    font-size: 4vw; /* Tamaño de fuente relativo al ancho del viewport */
    text-align: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: borderAnimation 5s infinite alternate; 
}

@keyframes borderAnimation {
    0% {
        border-color: #5c9625; 
    }
    50% {
        border-color: #259625; 
    }
    100% {
        border-color: #259650;
    }
}

@media screen and (max-width: 768px) {
    .retro-button {
        padding: 8vw 15vw;
        font-size: 5vw;
        width: 80vw;
    }
}

@media screen and (max-width: 480px) {
    .retro-text {
        font-size: 8vw;
    }
    .retro-button {
        padding: 12vw 20vw;
        font-size: 6vw;
        width: 90vw;
    }
}